<form class="form-horizontal" action="/manage/chgpsw" method="post">
  <fieldset>
    <legend>修改密码</legend>
    <div class="control-group">
      <label class="control-label" for="oldpsw">旧密码</label>
      <div class="controls">
        <input id="oldpsw" name="oldpsw" type="password" class="input-xlarge" placeholder="输入旧密码" value="" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="newpsw">新密码</label>
      <div class="controls">
        <input id="newpsw" name="newpsw" type="password" class="input-xlarge" placeholder="输入新密码" value="" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="repsw">确认新密码</label>
      <div class="controls">
        <input id="repsw" name="repsw" type="password" class="input-xlarge" placeholder="再输入一次新密码" value="" />
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">保存修改</button>
    </div>
  </fieldset>
</form>
